/*mobile comienzo*/
body{
    font-size: 20px;
}
/*barra*/
header {
   background-image:linear-gradient(
    rgb(206, 40, 76),
    rgb(228, 90, 136),
    rgb(238, 163, 179)
     ); 
 }
.img{
    border-radius: 70px;
}
/*fin barra*/
/*comienzo contenido*/
main{
   padding: 50px ;
}
.card-body h5{
    padding: 10px;
    border: 1px solid rgb(181, 23, 146) ;
    border-radius: 9px;
    text-align: center;
}

.botonn{
    text-align: center;
    border-radius: 08%;
    border: 2px solid rgb(181, 23, 146);
}
/*fin contenido*/
/*comienzo footer*/
footer{ 
    background-image: linear-gradient( rgb(206, 40, 76),rgb(228, 90, 136), rgb(238, 163, 179));
    color: black;
    display: flex;
    justify-content:space-around ;
   

}
.navegacion ul li   {
    list-style: none;
}
.navegacion ul li a {
    text-decoration: none;
}
footer div{
    line-height: 2;
}
.icons{
    text-align: center;
}
/*fin mobile*/



/*comienzo desktop*/
@media screen and (max-width: 1200px) {
    
    
}
/*fin desktop*/