/*
#body{
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    color: black;
    padding: 4px;
    background-image: linear-gradient( rgb(206, 40, 76),rgb(228, 90, 136), rgb(238, 163, 179))
}

.header{
    padding: 4px;
    background-image: linear-gradient( rgb(206, 40, 76),rgb(228, 90, 136), rgb(238, 163, 179))
}
/*comienzo barra*/
/*.fondo{
    background-image: url(/imagen/deluxe3.png);
    padding: 100px;
    background-size: contain;
    
}
.barranav ul{
    display: flex;
    justify-content: space-around;
}
.barranav ul li{
    list-style: none;
}
.barranav ul li a{
    text-decoration: none;
}
#carrusel{
    width: 90%;
    height: 90%;
    overflow: hidden;
}
#carrusel ul{
    display: flex;
    animation-name: carrusel;
    animation-duration: 2s;
    
}
#carrusel li{
    width: 100%;
    list-style: none;

}
#carrusel img{
    width: 150%;
    height: 150%;
}

/*@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
*/
.carrusel-item img{
    text-align: center;
} 
