.footer {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: #000;
    background-image: map-get( $color , colorPrimario );
    div{
        a{
            text-decoration: none;
            color: #000;
            
        }
    
    }
    ul{ 
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
        }
    }
}


