.footer {
    @extend %flexfooter ;
    background-image: map-get( $color , colorPrimario );
    div{
        a{
            text-decoration: none;
            color: map-get($color, colorText );
            
        }
    
    }
    ul{ 
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: map-get($color, colorText);
                font-weight: bold;
            }
        }
    }
}


