/*headerprincipal*/
.header{
    background-image: map-get( $color , colorPrimario) ;
    width: 100%;
    .img{
        border-radius: map-get($border, borderRadius );

    }
}



@media screen and (min-width: 720px){
    header {
        height: 150px;
    }
    
}