/*headerprincipal*/
.header{
    background-image: map-get( $color , colorPrimario) ;
    width: 100%; 
    .img{
        border-radius: map-get($border, borderRadius );

    }
    .navPer{
        border-bottom: 3px solid rgb(46, 3, 42);
    }

}



@media screen and (min-width: 900px){
    header {
        height: 150px;
    }
    
}