main {
   
    section{
        color: map-get($color, colorSecundario );
    }
    color: map-get($color , colorSecundario );
    .row{
        
        .tamano{
            height: 500px;
            width: 500px;
           
        }
    }
}
.mainGaleria{
    padding: 10px;
    .card-body {
        h5{
            padding: 10px;
            border: 1px solid rgb(181, 23, 146) ;
            border-radius: 9px;
            text-align: center;
        }
    }
    .botonn{
        text-align: center;
        border-radius: 08%;
        border: 2px solid rgb(181, 23, 146);
    }
    


    
}

  