$color:(
    colorPrimario: linear-gradient(-225deg,#321575  0%, #8D0B93 50%,  #FF057C 100%) ,
    colorSecundario: rgb(220, 200, 18) , 
    colorTerciario: rgb(181, 23, 146) ,
    
);
$fonts:(
    fontsPrincipal: 20px ,
);
$border:(
    borderRadius: 70px , 


);