@mixin boton ($padding  , $borderColor, $borderRa ) {
    padding: $padding ; /*10px*/
    border: 1px solid $borderColor; /*colorTerciario*/
    border-radius: $borderRa; /*9px*/
    text-align: center;
}
